#Global
node_modules

# Frontend
stock-tracker-frontend/node_modules
stock-tracker-frontend/dist

# Backend
stock-tracker-backend/node_modules
stock-tracker-backend/dist

# Environment
.env
.env.test
.env.local
.env.example
stock-tracker-backend/.env
stock-tracker-backend/.env.test
stock-tracker-backend/.env.local
stock-tracker-backend/.env.example
stock-tracker-frontend/.env
stock-tracker-frontend/.env.test
stock-tracker-frontend/.env.local
stock-tracker-frontend/.env.example

# IDE
.vscode/settings.json
.idea

# OS
.DS_Store
Thumbs.db


