# Frontend
stock-tracker-frontend/node_modules
stock-tracker-frontend/dist

# Backend
stock-tracker-backend/node_modules
stock-tracker-backend/dist

# Environment
.env.local
.env
stock-tracker-backend/.env.local
stock-tracker-backend/.env


# IDE
.vscode/settings.json
.idea

# OS
.DS_Store
Thumbs.db


